.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding) calc(var(--padding) * 5);
}

.group-item:nth-child(even) {
    background: #c5c5c5;
  }

.item-detail .item-img {
  width: 20px;
  height: 20px;
  margin-right: 30px;
}