.group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  padding: calc(var(--padding) * 3) calc(var(--margin) * 20);
}

.group-item:nth-child(even) {
  background: var(--bgColorSecondary);
}

.item-detail {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.item-detail .item-img {
  width: 25px;
  height: 25px;
  margin-right: 30px;
}

.item-info {
  font-size: var(--fontSize);
  color: var(--textColorPrimary);
}

.item-name {
  font-size: var(--fontSize);
  color: var(--textColorSecondary);
  text-transform: capitalize;
}