.wrapper-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: calc(var(--margin)/2);
  margin: calc(var(--margin) * 4) 0;
}

.wrapper-pagination button {
  outline: none;
  border: none;
  cursor: pointer;
  border-radius: 0;
}

.page, .next-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15px;
  height: 20px;
  font-weight: bold;
  background-color: transparent;
  color: var(--textColorSecondary);
  border-bottom: 2px solid transparent;
}

.next-page {
  margin-left: var(--margin);
  width: 25px;
  height: 20px;
}

.page.active {
  border-bottom: 2px solid var(--secondary);
  color: var(--textPrimary);
}

.page.disabled {
  background-color: transparent !important;
  cursor: not-allowed;
  opacity: 0.5;
}