*, 
*:after, 
*:before {
    box-sizing: border-box;
    margin:0;
    outline: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Poppins', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  background-size:cover;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: var(--bgColor);
  font-size: calc(10px + 2vmin);
  color: var(--textColorPrimary);
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  line-height: 1.25;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}


:root {
  --primary: #F6F6F6;
  --secondary: #E98C3B;
  --bgColor: #F6F6F5;
  --bgButton: #808080;
  --warning: #ff0000;
  --white: #ffffff;
  --textColorPrimary: #070707;
  --textColorSecondary: #a3a3a3;
  --borderColor: #a9a9a9;
  --inputColor: #757474;
  --padding: 5px;
  --margin: 5px;
  --border: 2px;
  --fontSize: 15px;
  --spacing: 1px;
  --radius: 20px;
  --lightShadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --darkShadow: 0px 3px 3px rgba(0, 0, 0, 0.3);
  --maxWidth: 800px;
  --transition: all 0.3s linear;
}