.container-login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.wrapper-form {
  max-width: var(--max-width);
}

.wrapper-intro {
  padding: calc(var(--padding) * 2);
  margin-top: calc(var(--margin) * 7);
}

.wrapper-intro h4 {
  font-size: var(--fontSize);
  color: var(--textColor);
  margin:0;
}

.wrapper-intro p {
  font-size: 12px;
  color: var(--textColor);
  margin:0;
}

.form-submit {
  margin: calc(var(--margin) * 6) auto;
}

.submit-btn {
  cursor: pointer;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--padding) * 1.5);
  margin-top: calc(var(--margin) * 8);
  background: var(--secondary);
  outline: none;
  border: none;
  border-radius: var(--radius);
  color: var(--white);
  font-size: var(--fontSize);
  font-weight: 600;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.submit-img {
  width: 25px;
  height: 25px;
  margin-right: var(--margin);
}

.submit-btn:hover {
  background: var(--bgButton);
  color: var(--white);
}

.submit-btn-loading {
  cursor: pointer;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--padding) * 1.5);
  margin-top: calc(var(--margin) * 8);
  background: var(--bgButtonLoading);
  color: var(--textColorPrimary);
  outline: none;
  border: none;
  border-radius: var(--radius);
  font-size: var(--fontSize);
  font-weight: 600;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.submit-btn-loading:hover {
  background: var(--bgButton);
  color: var(--white);
}

.form-submit .error-message {
  align-self: center;
  margin: calc(var(--margin) * 3);
  color: var(--warning);
  font-weight: 500;
}

@media screen and (max-width: 764px){
  .container-login {
    top: 50%;
    left: 0;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    padding: calc(var(--padding) * 2);
  }

  .wrapper-form {
    max-width: 100%;
  }
}

