.container-login {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, 50%);
  transform: translate(-50%, 50%);
  max-width: var(--max-width);
}

.wrapper-intro {
  padding: calc(var(--padding) * 2);
}

.wrapper-intro h4 {
  font-size: var(--fontSize);
  color: var(--textColor);
  margin:0;
}

.wrapper-intro p {
  font-size: 12px;
  color: var(--textColor);
  margin:0;
}

.form-submit {
  margin: calc(var(--margin) * 5) auto;
}

.submit-btn {
  cursor: pointer;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: calc(var(--padding) * 1.5);
  margin-top: calc(var(--margin) * 5);
  background: var(--bgButton);
  outline: none;
  border: none;
  border-radius: var(--radius);
  color: var(--textColorPrimary);
  font-size: var(--fontSize);
  font-weight: 600;
  box-shadow: var(--dark-shadow);
  transition: var(--transition);
}

.submit-img {
  width: 25px;
  height: 25px;
  margin-right: var(--margin);
}

.submit-btn:hover {
  background: var(--secondary);
  color: var(--white);
}

.form-submit .error-message {
  align-self: center;
  margin: var(--margin) auto;
  color: var(--warning);
  font-weight: 500;
}

@media screen and (max-width: 900px){
  .container-login {
    max-width: 100%;
    top: 0;
    left: 0;
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    padding: calc(var(--padding) * 2);
  }
}

