.container-students {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-title {
  color: var(--textColorPrimary);
  font-weight: 500;
}

.wrapper-group {
  width: 85vw;
  border-top: 15px solid var(--secondary);
  box-shadow: var(--lightShadow);
  margin-top: calc(var(--margin) * 2);
}

.btn-logout {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background: var(--bgColorSecondary);
  color: var(--textColorPrimary);
  padding: calc(var(--padding) * 2);
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn-logout:hover {
  background: var(--secondary);
}

.item-logout {
  width: 20px;
  height: 20px;
  margin-right: var(--margin);
}

.loading {
  padding: calc(var(--padding) * 2);
  font-size: var(--fontSize);
}